<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
	<settings>
	  <!--Sets the ID of the empty form that is used when the FormID or Data Source field is empty in the Mvc Form control properties-->
	  <setting name="WFM.EmptyForm" value="{56C64AD6-3546-4840-9802-0431C82B8848}" />
    </settings>
	<wffmRepository>
		<patch:attribute name="type">Sitecore.Support.Forms.Mvc.Services.FormRepository,Sitecore.Support.138241</patch:attribute>
    </wffmRepository>
  </sitecore>
</configuration>